# Ignore files in the root directory
/node_modules
/.env

# Ignore files in the client directory
/client/node_modules

# Ignore files in the server directory
/server/node_modules

# Ignore log files
/logs

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
