# Ignore files in the root directory
/node_modules
/.env

# Ignore files in the client directory
/client/node_modules

# Ignore files in the server directory
/server/node_modules

# Cypress
/cypress/videos/


# Ignore log files
/logs

# IDE/Editor specific files
.vscode/
*.code-workspace

# Ignore macOS specific files
.DS_Store

# Ignore Windows specific files
Thumbs.db
