/* Main colors */
:root {
  --primary-color: #d52b1e; /* red */
  --secondary-color: #000000; /* black */
  --white-color: #ffffff; /* white */

  /* Common Spacings */
  --space-sm: 10px;
  --space-md: 20px;
  --space-lg: 40px;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  background-color: var(--white-color);
  color: var(--secondary-color);
}

/* Remove default margin and list styles */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove default list style for semantics purposes */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Hide the skip link */
.skip {
  position: absolute;
  top: auto;
  left: -10000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Main content styles */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 80vh;
  padding: 20px;
  background-color: var(--white-color);
}

/* Header */
header {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Box-shadow */
}

.header-content {
  display: flex;
  flex-direction: column; /* Stack elements vertically on mobile */
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--white-color);
  color: var(--secondary-color);
  max-width: 1200px; /* Maximum width of the header */
  margin: 0 auto; /* Center the header on the screen */
}

/* Logo styles */
header img {
  margin: 10px;
  width: 150px;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

nav li:not(:first-child) {
  margin-left: 20px;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Footer styles */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--secondary-color);
}

/* Footer logo styles */
footer img {
  margin: 10px auto;
  width: 150px;
}

/* Button styles */
button {
  margin-left: 10px;
  padding: 12px 23px;
  width: 200px;
  min-width: 150px;
  line-height: 1em;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: FuturaPT, sans-serif;
  font-weight: 700;
  background-color: var(--primary-color);
  color: var(--white-color);
}

button:hover {
  background-color: var(--secondary-color);
}

p {
  text-align: center;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Form field styles */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* User detail styles */
.user-details {
  margin-bottom: 20px;
  padding: 20px 64px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: var(--primary-color);
  color: var(--white-color);
}

.user-details h2,
section h2 {
  margin-bottom: 20px;
  text-align: center;
}

#user-details-table {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

#user-details-table td {
  padding: 10px;
}

/* Form styles */
#detail-form {
  max-width: 500px;
  margin-top: 28px;
  color: var(--secondary-color);
  width: 80%; /* specify a width to make margin: auto work */
}

section div {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  white-space: nowrap;
}

input {
  margin-left: 10px;
  padding: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  flex-grow: 1;
}

/* Redeem points section styles */
.test-section {
  max-width: 500px;
  color: var(--secondary-color);
  width: 80%;
}

/* Error message styles */
#error-message {
  display: none;
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--secondary-color);
  background-color: #f8d7da;
}

/* Using media query to target tablet devices */
@media screen and (min-width: 768px) {
  /* Adjust the header for tablets and up */
  .header-content {
    flex-direction: row; /* Align elements horizontally on tablet */
    justify-content: space-between; /* Distribute space between logo and navigation */
  }

  /* Adjust the navigation for tablets and up */
  nav {
    justify-content: flex-end; /* Align nav items to the right */
  }
}
