/* Hide the skip link */
.skip {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/* Show Skip Link when Focused */
.skip:focus {
  position: static;
  width: auto;
  height: auto;
}

/* Modern CSS Reset 
Link: https://github.com/hankchizljaw/modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and list styles */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove default list style for semantics purposes */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--white-color);
  font-family: Arial, sans-serif;
  color: var(--secondary-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Form field styles */
/* Hide the default arrow buttons in WebKit browsers */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Disable text selection on input */
input[type='number'] {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Remove all animations, transitions, and smooth scroll for reduced motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* End CSS Reset */

/* Main colors */
:root {
  --primary-color: #d52b1e; /* red */
  --secondary-color: #000000; /* black */
  --white-color: #ffffff; /* white */
}

/* Main content styles */
main {
  background-color: var(--white-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

/* Header styles */
header {
  background-color: var(--white-color);
  color: var(--secondary-color);
  padding: 20px;
}

/* Logo styles */
header img {
  width: 150px;
  margin: 10px auto;
}

/* Navigation styles */
nav {
  background-color: var(--secondary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer styles */
footer {
  background-color: var(--secondary-color);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer logo styles */
footer img {
  width: 150px;
  margin: 10px auto;
}

/* User detail styles */
.user-details {
  padding: 20px 48px;
  margin-bottom: 20px;
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-details h2 {
  text-align: center;
  margin-bottom: 20px;
}

#user-details-table {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

#user-details-table td {
  padding: 10px;
}

/* Error message styles */
#error-message {
  display: none;
  color: var(--secondary-color);
  background-color: #f8d7da;
  border: 1px solid #f5c2c7;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

/* Form styles */
#user-detail-form {
  width: 80%; /* specify a width to make margin: auto work */
  max-width: 500px;
  margin-top: 28px;
  color: var(--secondary-color);
}

#user-detail-form h2 {
  text-align: center;
}

/* Form row styles */
#user-detail-form div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

label {
  white-space: nowrap;
}

/* Form field styles */
input {
  flex-grow: 1; /* Added to make the input fields responsive */
  padding: 10px;
  margin-left: 10px;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

/* Button styles */
button {
  margin-left: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  min-width: 150px;
}

button:hover {
  background-color: var(--secondary-color);
}

p {
  text-align: center;
}
